POSTGRES_URL=
BLOB_READ_WRITE_TOKEN=
NEXT_PUBLIC_APP_URL=http://localhost:3000

SOLANA_NETWORK=mainnet-beta
NEXT_PUBLIC_SOLANA_RPC=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_SOLANA_TREASURY=4GKjWC5gtFEYDsEH4y5dKuHLLMCBduoGYUPc6yhKq19p
